<% title _("Orchestration Job: %s") % @job.name %>

<div>
  Status: <%= @job.status %>
  <% if @job.task.nil? %>
    (<%= _('task not available') %>)
  <% else %>
    (<a href="<%= request.script_name %>/foreman_tasks/dynflow/<%= @job.task.external_id %>">dynflow task</a>)
  <% end %>
</div>

<div class="row">
  <div class="col-md-7">
    <%= render 'status' %>
  </div>
  <div class="col-md-5">
    <%= render 'configuration' %>
  </div>
</div>
